.cart{
    color: #000;

    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tshrt{
    
flex-shrink: 0;

}
.header{
    color: #000;

font-family: Satoshi;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}