.typo{
    color: #000;
font-family: Integral CF;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.typo{
    color: #000;

font-family: Integral CF;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;}

.button1{
    border-radius: 20px;
    
}